table.custom-striped > tbody > tr:not(.table-warning):not(.table-danger):not(.table-active):nth-child(odd) > td,
table.custom-striped > tbody > tr:not(.table-warning):not(.table-danger):not(.table-active):nth-child(odd) > th {
    background-color: #bcbcbc;
}

table.custom-striped > tbody > tr:not(.table-warning):not(.table-danger):not(.table-active):nth-child(even) > td,
table.custom-striped > tbody > tr:not(.table-warning):not(.table-danger):not(.table-active):nth-child(even) > th {
    background-color: #ffffff;
}

/* Keep hover visible and slightly stronger than striping */
table.custom-striped > tbody > tr:hover > td,
table.custom-striped > tbody > tr:hover > th {
    background-color: #f1f1f1;
}

.jl-item-img {
    height: 50px;
    width: auto;
    object-fit: contain;
}

.disabled-table {
    opacity: 0.5;
    pointer-events: none;
}