@using KontrolaPakowania.Server.Services
@using KontrolaPakowania.Shared.DTOs.Requests
@using KontrolaPakowania.Shared.Enums
@using KontrolaPakowania.Shared.Helpers

@page "/kontrola-pakowania/{jl}"
@inherits PackingPageBase
@layout NoNavLayout
@implements IDisposable

<div class="container-fluid d-flex flex-column vh-100 p-3 pack-control">

    <PackingHeader @ref="Header"
                   JlItems="JlItems"
                   CurrentJl="CurrentJl"
                   Username="@UserSession.Username"
                   OnManagerClick="HandleManagerClick"
                   OnManagerRequestPassword="OnManagerButtonClick" />

    <ScanInput @ref="ScanInputComponent" OnKeyDown="HandleCodeInput" />

    <PackingTables JlItems="JlItems"
                PackedItems="PackedItems"
                SelectedPackedItem="SelectedPackedItem"
                HighlightedRows="HighlightedRows"
                OnRowDoubleClick="OpenProductModal"
                OnPackedItemSelect="SelectPackedItem"
                CourierConfiguration="CourierConfiguration" />

    <PackingButtons NextPackage="NextPackage"
                    UnpackItem="UnpackItem"
                    Close="Close"
                    FinishPacking="FinishPacking"
                    PackedItems="PackedItems"
                    Settings="Settings" />
</div>


@if (ShowProductModal && SelectedItem != null)
{
    <ProductSelectModal Product="SelectedItem"
                        OnConfirm="PackItem"
                        OnClose="() => ShowProductModal = false" />
}

<PasswordModal @ref=PackingRequirementsModal OnConfirm ="HandlePasswordConfirm" OnCancel="HandlePasswordCancel" />
<PasswordModal @ref=ManagerPasswordModal OnConfirm="HandlePasswordConfirm" />
<ConfirmDialog @ref="ConfirmDialog" />
<CourierModal @ref="CourierModal" />
<LoggedOperatorsModal @ref="LoggedOperatorsModal" />
<JlInProgressModal @ref="JlInProgressModal" />
<PackingJlItemsModal @ref="PackingJlItemsModal" />
<ChangePackingWarehouseModal @ref="ChangePackingWarehouseModal" />
<TextBoxModal @ref="TextBoxModal" />

<FinishPackingModal @ref="FinishPackingModal"
            Courier="CurrentJl.Courier"
            CourierSrc="@CurrentJl.LogoCourier"
            PackingLevel="Settings.PackingLevel"
            OnCourierLabel="HandleCourierLabel"
            OnBufor="HandleBufor"
            OnInternalBarcode="HandleInternalBarcode" />

<DimensionsModal @ref="DimensionsModal"  />
<ShipmentModal @ref="ShipmentModal" OnOk="HandleShipmentOkClick" />

<Toast @ref="Toast" />

@code {
    private PackingHeader? Header;
    protected override async Task OnInitializedAsync()
    {
        try
        {
            await base.OnInitializedAsync();
            if (PackageId == 0)
                await CreatePackage();
            
            await LoadCourierConfiguration();
        }
        catch (Exception ex)
        {
            Toast.Show("Błąd!", $"Błąd przy inicjalizacji: {ex.Message}");
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            ManagerModal = Header?.ManagerModal;
            base.OnAfterRenderAsync(firstRender);
        }
    }
}
