@page "/settings"
@using KontrolaPakowania.Shared.Enums
@inject WorkstationService WorkstationService
@inject NavigationManager NavigationManager

<div class="container settings-container mt-4">
    <div class="card shadow-sm">
        <div class="card-body">
            <h3 class="card-title mb-4">Ustawienia stanowiska</h3>

            <div class="mb-3">
                <label class="form-label">Drukarka etykiet:</label>
                <input class="form-control" @bind="WorkStationSettings.PrinterLabel" placeholder="Wprowadź drukarkę etykiet" />
            </div>

            <div class="mb-3">
                <label class="form-label">Drukarka faktur:</label>
                <input class="form-control" @bind="WorkStationSettings.PrinterInvoice" placeholder="Wprowadź drukarkę faktur" />
            </div>

            <div class="mb-3">
                <label class="form-label">Miejsce pakowania:</label>
                <select class="form-select" @bind="WorkStationSettings.PackingLocation">
                    @foreach (var location in Enum.GetValues(typeof(PackingLocation)).Cast<PackingLocation>())
                    {
                        <option value="@location">@location</option>
                    }
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">Numer stanowiska:</label>
                <input class="form-control" @bind="WorkStationSettings.StationNumber" placeholder="Wprowadź numer stanowiska" />
            </div>

            <div class="d-grid">
                <button class="btn btn-primary btn-lg" @onclick="Save">
                    <i class="bi bi-save me-2"></i> Zapisz ustawienia
                </button>
            </div>
        </div>
    </div>
</div>

<Toast @ref="SaveToast" Title="Sukces!" Message="Ustawienia zapisane!" Color="success" OnClose="OnToastClosed" />

@code {
    private WorkstationSettings WorkStationSettings = new();
    private Toast SaveToast;

    protected override async Task OnInitializedAsync()
    {
        WorkStationSettings = await WorkstationService.GetSettingsAsync();
    }

    private async Task Save()
    {
        await WorkstationService.SaveSettingsAsync(WorkStationSettings);

        await SaveToast.Show();
        await Task.Delay(2000);
        await SaveToast.Hide();
    }

    private void OnToastClosed()
    {
        NavigationManager.NavigateTo("/");
    }
}
