<div class="modal-backdrop @(IsVisible ? "show" : "")">
    <div class="modal-container">
        <div class="modal-header">
            <h5 class="modal-title">Podaj wymiary</h5>
            <button type="button" class="btn-close" @onclick="Close" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <label class="form-label">Długość (cm)</label>
                <input type="number" class="form-control" @bind="Length" min="0" />
            </div>
            <div class="mb-3">
                <label class="form-label">Szerokość (cm)</label>
                <input type="number" class="form-control" @bind="Width" min="0" />
            </div>
            <div class="mb-3">
                <label class="form-label">Wysokość (cm)</label>
                <input type="number" class="form-control" @bind="Height" min="0" />
            </div>
        </div>
        <div class="modal-footer d-flex gap-2 w-100">
            <button class="btn btn-primary btn-lg tall-btn" style="flex: 7;" @onclick="Confirm">Potwierdź</button>
            <button class="btn btn-secondary btn-lg tall-btn" style="flex: 3;" @onclick="Close">Anuluj</button>
        </div>
    </div>
</div>

@code {
    private TaskCompletionSource<Dimensions>? _tcs;

    public bool IsVisible { get; private set; } = false;
    public int Height { get; private set; }
    public int Width { get; private set; }
    public int Length { get; private set; }

    public Task<Dimensions> Show(int height = 0, int width = 0, int length = 0)
    {
        Height = height;
        Width = width;
        Length = length;

        IsVisible = true;
        StateHasChanged();

        _tcs = new TaskCompletionSource<Dimensions>();
        return _tcs.Task;
    }

    private void Close()
    {
        IsVisible = false;
        _tcs?.TrySetResult(null!);
        StateHasChanged();
    }

    private void Confirm()
    {
        IsVisible = false;
        _tcs?.TrySetResult(new Dimensions
        {
            Height = Height,
            Width = Width,
            Length = Length
        });
        StateHasChanged();
    }
}
