
@using KontrolaPakowania.Server.Services
@using KontrolaPakowania.Shared.Enums
@inject ClientPrinterService ClientPrinterService
@inject NavigationManager Navigation
@inherits ComponentBase

@if (IsVisible)
{
    <div class="modal-backdrop fade show"></div>
    <div class="modal fade show d-block shipment-modal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content shipment-modal-content">
                <div class="modal-header border-0">
                    <h5 class="modal-title">Przesyłka wysłana</h5>
                </div>
                <div class="modal-body text-center">
                    <p>Numer przesyłki: <strong>@TrackingNumber</strong></p>
                    @if (HasInvoice)
                    {
                        <p class="text-success fw-bold">Wydrukowano fakturę. Dołącz do paczki.</p>
                    }
                </div>
                <div class="modal-footer container-fluid border-0">
                    <div class="row w-100">
                        <div class="col-8">
                            <button class="btn btn-primary shipment-btn w-100 tall-btn" @onclick="OnOkClicked">
                                OK
                            </button>
                        </div>
                        <div class="col-4">
                            <button class="btn btn-success shipment-btn w-100 tall-btn" @onclick="OnPrintClicked">
                                Wydrukuj ponownie
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
}

@code {
    public bool IsVisible { get; set; }
    public string TrackingNumber { get; set; } = string.Empty;
    public string LabelBase64 { get; set; } = string.Empty;
    public string Printer { get; set; } = string.Empty;
    public PrintDataType LabelType { get; set; }
    public bool HasInvoice { get; set; }
    [Parameter] public EventCallback<string> OnOk { get; set; }

    private async Task OnOkClicked()
    {
        if (OnOk.HasDelegate)
        {
            await OnOk.InvokeAsync(TrackingNumber);
        }
        Hide();
    }
    private async Task OnPrintClicked()
    {
        if (!string.IsNullOrEmpty(LabelBase64))
        {
            await ClientPrinterService.PrintAsync(Printer, LabelType.ToString(), LabelBase64);
        }
    }

    public void Show(string trackingNumber, string labelBase64, PrintDataType labelType, string printer, bool hasInvoice)
    {
        TrackingNumber = trackingNumber;
        LabelBase64 = labelBase64;
        LabelType = labelType;
        Printer = printer;
        HasInvoice = hasInvoice;
        IsVisible = true;
        StateHasChanged();
    }

    public void Hide()
    {
        IsVisible = false;
        StateHasChanged();
    }
}
