.scan-blink {
    color: red;
    font-weight: bold;
    animation: blink 1s step-start infinite;
}

.header-row {
    height: auto;
    align-items: center;
}

.header-image-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
}

    .header-image-placeholder img {
        height: calc(1.5em * 2.5);
        width: auto;
        object-fit: contain;
    }

@keyframes blink {
    50% {
        opacity: 0;
    }
}