@using WarehousePacking.Shared.Enums
<div class="row g-2 mt-3 flex-shrink-0">
    <div class="col-6 col-md">
        <button class="btn btn-warning w-100 h-100 py-4 fs-5" @onclick="NextPackage">Następna paczka</button>
    </div>
    <div class="col-6 col-md">
        <button class="btn btn-danger w-100 h-100 py-4 fs-5" @onclick="UnpackItem">Usuń pozycję</button>
    </div>
    <div class="col-6 col-md">
        <button class="btn btn-danger w-100 h-100 py-4 fs-5" @onclick="Close" disabled="@(PackedItems.Any())">Zamknij</button>
    </div>
    <div class="col-6 col-md">
        <button class="btn btn-success w-100 h-100 py-4 fs-5" @onclick="FinishPacking">Zakończ</button>
    </div>
</div>

@code {
    [Parameter] public EventCallback NextPackage { get; set; }
    [Parameter] public EventCallback UnpackItem { get; set; }
    [Parameter] public EventCallback Close { get; set; }
    [Parameter] public EventCallback FinishPacking { get; set; }
    [Parameter] public List<JlItemDto> PackedItems { get; set; }
    [Parameter] public WorkstationSettings Settings { get; set; }
}
