@using WarehousePacking.Server.Shared.Components.Modals
@using WarehousePacking.Shared.Enums
@using WarehousePacking.Shared.Helpers

<div class="d-flex align-items-center mb-3 header-row w-100">
    @if (JlItems != null && JlItems.Any() && CurrentJl.Country != "PL" && CurrentJl.ClientName != "MIX" && CurrentJl.Country != string.Empty && CurrentJl.CourierName != "MIX")
    {
        <div class="header-image-placeholder me-2">
            <img src="images/exp.jpg" alt="Export" />
        </div>
    }

    @if (CurrentJl != null && CurrentJl.Courier != Courier.Unknown)
    {
        <div class="header-image-placeholder me-3">
            <img src="@Utils.GetCourierSrc(CurrentJl.LogoCourier)" alt="@CurrentJl.LogoCourier" />
        </div>
    }

    <div class="me-3">
        <h4>Operator: @Username</h4>
    </div>

    <div class="flex-grow-1 text-center">
        <h2 class="scan-blink">Zeskanuj Towar</h2>
    </div>

    <div class="d-flex align-items-center ms-auto">
        @if (CurrentJl != null)
        {
            <h4 class="me-3">Klient: @CurrentJl.ClientSymbol</h4>
        }
        <ManagerControlModal OnButtonClick="OnManagerClick"
                             OnRequestPassword="OnManagerRequestPassword"
                             ShowPackingButtons="true"
                             @ref="ManagerModal" />
    </div>
</div>

@code {
    [Parameter] public List<JlItemDto> JlItems { get; set; }
    [Parameter] public JlData CurrentJl { get; set; }
    [Parameter] public string Username { get; set; }
    [Parameter] public EventCallback<int> OnManagerClick { get; set; }
    [Parameter] public EventCallback OnManagerRequestPassword { get; set; }
    public ManagerControlModal? ManagerModal { get; private set; }
}
