@page "/"
@using WarehousePacking.Server.Services
@inject UserSessionService UserSession
@inject IJSRuntime JSRuntime
@inherits ProtectedPageBase

<h3>Main Page</h3>

<h4>Tu nic nie będzie</h4>

@code {

}