.package-send h3 {
    font-weight: 600;
    text-align: center;
}

.package-send .card {
    border-radius: 1rem;
}

.package-send .courier-image {
    max-height: 100px;
    opacity: 0.8;
}

.package-send button {
    min-width: 150px;
}