@inject IJSRuntime JS
@inject UserSessionService UserSession

@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar @(isCollapsed ? "collapsed" : "")">
        <NavMenu />
        <button class="collapse-btn" @onclick="ToggleSidebar">
            <i class="bi @(isCollapsed ? "bi-chevron-double-right" : "bi-chevron-double-left")"></i>
        </button>
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private bool isCollapsed = false;
    private void ToggleSidebar()
    {
        isCollapsed = !isCollapsed;
    }
}