@inject IJSRuntime JS
@inject UserSessionService UserSession

@inherits LayoutComponentBase

<div class="page">
    <main>
        <article class="content px-4 full-height-page">
            @Body
        </article>
    </main>
</div>
